$horizontal-padding: 10%;
page-home {
  h1 {
    text-align: center;
    color: transparent;
    text-shadow: 1px 1px rgba(227, 6, 19, 0.8), -1px -1px rgba(255, 237, 0, 1);
    font-weight: bold;
  }
  .info-box {
    border-width: 2px !important;
    color: darkslategray;
    border-color: darkslategray !important;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 2em;
    text-align: left;
    .divider {
      width: 100%;
      box-shadow: 1px 3px rgba(227, 6, 19, 0.8);
      background-color: rgba(255, 237, 0, 1);
    }
  }
  .stories-container {
    width: 100%;
    height: 100%;
  }
  .home-content {
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    padding-left: $horizontal-padding !important;
    padding-right: $horizontal-padding !important;
  }

}
