<ion-content padding class="home-content">

  <h1 (click)="toggleInfoBox()">minimal hn</h1>

  <div *ngIf="showInfoBox" class="info-box">
    <p>
      <i>
        minimal hn is a minimalist hacker news reader inspired by
        <a (click)="openInfo()">brutalist design web design</a>. learn more or contribute on
        <a (click)="openOnGithub()">github</a>
      </i>
    </p>
    <div class="divider"></div>
  </div>

  <story *ngFor="let storyId of storyIds | async" [id]="storyId">
  </story>

</ion-content>
